<launch>
  <!-- ARGUMENT DEFINITIONS -->
  <arg name="name" default="default" />
  <arg name="training" default="False" />
  <arg name="lefty" default="False" />
  <arg name="index" default="0" />


  <!-- launch kinect sensor: -->
  <include file="$(find openni_launch)/launch/openni.launch"/>

  <!-- launch skeleton tracker: -->
  <node pkg="skeletontracker_nu" type="skeletontracker" name="skeletontracker"
  	output="screen" respawn="true" launch-prefix="xterm -fn 10x20 -e"/>

  <!-- launch display -->
  <node pkg="image_view" type="image_view" name="kinect_display"
  	output="log" respawn="false" args="image:=/camera/depth/image" />

  <!-- launch kinect interface and demo window -->
  <node pkg="kinect_pendulum_demo" type="data_collection_interface.py"
	output="screen" name="interface" respawn="true" 
  	args="-n $(arg name)  -t $(arg training) -l $(arg lefty) -i $(arg index)" 
	launch-prefix="xterm -fn 10x20 -e" />

  <!-- set default window sizes and locations -->
  <node pkg="kinect_pendulum_demo" type="set_windows.sh" name="wmctrl"
  	output="screen" respawn="false" />

</launch>
