<launch>
  <!-- launch kinect sensor: --> 
  <include file="$(find openni_launch)/launch/openni.launch"/> 

  <!-- launch skeleton tracker: -->
  <node pkg="skeletontracker_nu" type="skeletontracker" name="skeletontracker"  
	output="screen" respawn="true" launch-prefix="xterm -fn 10x20 -e"/>

  <!-- launch display -->
  <node pkg="image_view" type="image_view" name="kinect_display"
  	output="log" respawn="false" args="image:=/camera/depth/image" />
  <!-- <node pkg="rviz" type="rviz" name="rviz" respawn="false"  -->
  <!-- 	args="-d $(find skeletontracker_nu)/launch/skeletonrecord.vcg"/> -->

  <!-- launch kinect interface and demo window -->
  <node pkg="kinect_pendulum_demo" type="skeleton_interface.py"
	output="screen" name="interface" /> 

</launch>
